<section id="bootstrap">
  <div id="logo" #logo>
    <img src="assets/image/logo.png">
  </div>
  <form>
    <div id="search-bar">
      <input (keyup)="search($event)" type="text" placeholder="사용중인 브랜드 또는 제품명을 입력해주세요.">
      <span>
        <img src="assets/image/search-lense.png">
      </span>
    </div>
  </form>
</section>
<ul id="brand-list">
  <ng-container *ngFor="let brand of brand_name_list">
    <li>
      <a [routerLink]="['as', brand]">
        <figure>
          <div>
            <img *ngIf="!brand_info[brand].logo" src="assets/image/none-of-brand-logo.png">
            <img *ngIf="brand_info[brand].logo" src="{{'assets/image/brand-logo/' + brand_info[brand].logo}}" 
            onerror="this.src='assets/image/none-of-brand-logo.png'">
          </div>
          <figcaption>
            <hr>
            <span>{{brand_info[brand].name.en}}</span>
          </figcaption>
        </figure>
        <div>
          <span class="more">보기</span>
        </div>
      </a>
    </li>
  </ng-container>
</ul>