#bootstrap{
    display: block;
    background-image : url('/assets/image/bootstrap-background.png');
    background-position: left center;
    background-size: cover;
    text-align: center;
    /* max-height: 500px; */
}
#bootstrap > #logo{
    text-align: center;
    display: block;
    padding-top: 56px;
    transition: 0.3s;
    opacity: 1;
}
#bootstrap > #logo > img{
    height: 16.5rem;
    transition: 0.3s;
    opacity: 1;
}
#bootstrap > #logo.hidden{
    transition: 0.3s;
}
#bootstrap > #logo.hidden > img{
    height: 0;
    transition: 0.3s;
    opacity: 0;
}
#bootstrap > form{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
    padding: 86px 0;
}
#search-bar{
    position: relative;
    width: 630px;
    max-width: 90%;
    margin: 0 auto;
}
#search-bar > input{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    font-size: 18px;
    border-radius: 23px;
    border: none;
    padding: 0 23px;
    background-color: rgba(255,255,255,0.5);
    color: #000;
    text-align: center;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
#search-bar > input:focus{
    transition: 0.3s;
    transition-timing-function: ease-out;
    background-color: rgba(255,255,255,0.9);
    border: none;
    outline-color: none;
    outline-style: none;
}
#search-bar > input::placeholder{
    color: #000;
    text-align: center;
}
#search-bar > span{
    position: absolute;
    top: 0; bottom: 0;
    right: 3%;
    transform: translateY(32%);
    height: 60%;
}
#search-bar > span > img{
    height: 100%;
}

#brand-list{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
    list-style: none;
    padding: 0;
    padding-left: -9px;
    padding-bottom: 30px;
}
#brand-list > li{
    display: inline-block;
    margin: 0;
    margin-left: 9px;
    margin-top: 9px;
    padding: 0;
    background-color: #fff;
    text-align: center;
    width : 95%;
    max-width: 270px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.35);
}
@media all and (max-width : 540px){
    #brand-list > li{
        width : calc(50% - 15px);
    }
}
#brand-list a,
#brand-list a:hover,
#brand-list a:visited,
#brand-list a:link
{
    color: inherit;
    text-decoration: none;
}
#brand-list > li figure{
    padding: 0;
    margin: 0;
    width: 100%;
}
#brand-list > li figure > div{
    width: 100%;
    height: 140px;
    position: relative;
}
#brand-list > li figure img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    max-height: 140px;
    max-width: 90%;
    vertical-align: middle;
}
#brand-list > li figure figcaption{
    padding: 0;
    margin: 0;
}
#brand-list > li figure figcaption hr{
    width: 60px;
}
#brand-list > li figure figcaption > span{
    display: block;
    text-align: center;
    padding: 28px;
    height: 8.125rem;
    font-size: 1.75rem;
    font-weight: 200;
}
#brand-list > li .more{
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 28px;
}
@media all and (max-width : 540px){
    #brand-list > li .more,
    #brand-list > li figure figcaption > span{
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}