/* You can add global styles to this file, and also import other style files */
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div, span, h1, h2, h3, h4, h5, h6, p, a, label, input, button, strong, small, ul, ol, li, th, td, dl, dd, dt{
	/*font-family: 'Nanum Gothic', '나눔고딕', NanumGothic, 'NanumGothicWeb', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif !important;*/
    /*font-family: "Yoon Gothic", "Apple Gothic", "HY Gulim", "MalgumGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
    /* font-family: 'Noto Sans KR', sans-serif !important; */
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
}

html, body{
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    margin: 0;
    /* background-color: #f2f4f7; */
    background-color: #f7f8f6;
    font-size: 14px;
    -webkit-overflow-scrolling: auto;
}

*{
    -webkit-overflow-scrolling: auto;
}

h1,h2,h3,h4{
    font-weight: 400;
}