:host{
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: calc(100% - 220px);
}
article{
    text-align: center;
}
article > figure{
    padding: 0;
    margin: 0;
}
article > figure > img{
    max-width: 100%;
}
article > figure > figcaption{

}
article > figure > figcaption > strong{
    font-size: 18px;
}
article > figure > figcaption > p{
    font-size: 18px;
}
article > hr{
    margin: 20px 0;
}
article .goto-as{

}
article a,
article a:hover,
article a:visited,
article a:link{
    color: inherit;
    text-decoration: none;
}
article .goto-as a,
article .goto-soundpick a{
    margin: 28px;
}
article .goto-as .homepage{
    display: inline-block;
}
article .goto-as .tel,
article  .goto-soundpick .kakao
{
    display: inline-block;
    position: relative;
}
article .goto-as .tel img{
    position: relative;
}
article .goto-as .tel strong{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00b9b2;
    color: #fff;
    padding: 7px;
    font-size: 26px;
    line-height: 1.1;
    opacity: 0;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
article .goto-as .tel:hover strong{
    opacity: 1;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
article .goto-soundpick > p{
    font-size: 18px;
}
article .goto-soundpick .kakao .kakao-id{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
article .goto-soundpick .kakao:hover .kakao-id{
    opacity: 1;
    transition: 0.3s;
    transition-timing-function: ease-out;
}