<article>
    <figure>
      <img src="{{'assets/image/desc/' + info.desc}}">
      <figcaption>
        <strong>운영시간 : {{info.time}}</strong>
        <p>* 각 서비스 책임은 해당 제조사 또는 수입사에게 있습니다.</p>
      </figcaption>
    </figure>
    <div class="goto-as">
      <a *ngIf="info.homepage" 
      class="homepage" href="{{info.homepage}}" target="_blank">
        <img src="assets/image/goto-homepage.png">
      </a>
      <a class="tel" href="tel:{{info.tel}}">
        <img src="assets/image/goto-phone.png">
        <strong [innerHTML]="tel_split(info.tel)">
        </strong>
      </a>
    </div>
    <hr>
    <div class="goto-soundpick">
      <p>A/S 절차에 대해 문의사항이 있으신가요?</p>
      <a class="kakao" href="http://plus.kakao.com/home/jfo16e6o" target="_blank">
        <img src="assets/image/kakao.png">
        <img class="kakao-id" src="assets/image/kakao-id.png">
      </a>
      <a class="naver-talk" href="https://talk.naver.com/ct/wc9tzn" target="_blank">
        <img src="assets/image/naver-talk.png">
      </a>
    </div>
  </article>